body{
    background: black;
}

#text{
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 100px;
    font-family: serif;
}

#text2{
    font-size: 3rem;
    margin-top: 100px;
    font-family: serif;
}

.container{
    padding: 6% 2%;
}

p{
    font-family: sans-serif;
    font-size: 1rem;
}

iframe{
    border-radius: 20px;
    padding-bottom: 30px;
}

#bottom{
    text-align: center;
    color: white;
}
